
.notes-heading{
    color: #2979FF;
    font-size: 1.8rem;
    font-weight: 700;
}
.note-component{
    max-width: 60%; 
    min-width: 40%; 
    width: fit-content;
    padding: 0 1rem 0 1rem;
    margin: 1rem;
    /* background-color: #FFFFCC	 */
    background-color: #fffdaf;
}
.navbar-login{
    font-size: 1.2rem;
    background-color: #2979FF;
    border-radius: 1rem;
    color: white;
    text-align: center;
}
.navbar-logout{
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 500;
    background-color: red;
    color: white;
    outline: 2px solid red;
    border-radius: 1rem;
    height: 2.4rem;
    margin: auto;
    border: none;
    text-align: center;
    cursor: pointer;
}
.navbar-logout:hover{
    background-color: white;
    color: red;
}
.note-labels{
    background-color: #fb8e18;
}

.note-buttons{
    margin: 2rem auto auto auto;
}
.note-update-btn{
    margin: auto 1rem auto auto;
}
.navbar-dash-logout{
    display: flex;
    flex-direction: row;
}
.navbar-dashboard{
    font-size: 1.4rem;
    font-weight: 500;
    outline: solid 2px #2979FF;
    background-color: #2979FF;
    color: white;
    margin: auto 1rem auto auto;
    border-radius: 1rem;
    padding: 4px;
}
.navbar-dashboard:hover{
    background-color: white;
    color: #2979FF;
}


@media screen and (max-width: 900px){
    .note-component{
        max-width: 95%;
    }
}
